{% liquid
  assign labels = labels | default: values
  assign initial_value = initial_value | default: values[0]
  assign initial_label = initial_label | default: labels[0]
%}

<custom-dropdown
  class="group/dropdown text-md relative block font-medium leading-6 font-futura-pt text-raisinBlack {{ class }}"
  aria-expanded="false"
>
  <input
    {% if name != blank %}
      name="{{ name }}"
    {% endif %}
    type="hidden"
    value="{{ initial_value }}"
  >

  <button
    type="button"
    class="js-toggle flex items-start justify-between gap-3 border-b border-solid border-mistyRose pb-2.5 w-full"
  >
    <div class="js-selected">
      {{- initial_label -}}
    </div>
    {% render 'icons',
      icon: 'chevron-down',
      class: 'size-6 group-aria-expanded/dropdown:rotate-180 transition-transform duration-300'
    %}
  </button>

  <ul
    class="
      pointer-events-none absolute left-0 top-[calc(100%+0.5rem)] w-full list-none
      rounded-xl border-4 border-solid border-mistyRose bg-lavenderBlush opacity-0
      group-aria-expanded/dropdown:pointer-events-auto group-aria-expanded/dropdown:opacity-100
      transition-opacity duration-300
    "
  >
    {% for value in values %}
      <li
        data-value="{{ value }}"
        aria-selected="{% if value == initial_value %}true{% else %}false{% endif %}"
        class="cursor-pointer hover:bg-mistyRose aria-selected:pointer-events-none aria-selected:bg-mistyRose px-2 py-1"
      >
        {{- labels[forloop.index0] -}}
      </li>
    {% endfor %}
  </ul>
</custom-dropdown>
